#front-page {
    background-image: url(https://miro.medium.com/max/4800/1*_7k2DjyEDen5V7HsBQCqbA.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.entry-text {
    /* border: 2px solid black; */
    width: 52%;
    font-family: cambria math;
    margin: 11em 15em 0 10em;
    padding: 2em;
    color: #333649;
    background-color: #D9C0AA;
    /*before color*/
}

#first-line {
    font-size: 1.5em;
    /* border: 1px solid white; */
    margin: 1% 0 1% 0;
}

#second-line {
    font-size: 7em;
    /* border: 1px solid white; */
    margin: 1% 0 1% 0;
}

#third-line {
    font-size: 2em;
    /* border: 1px solid white; */
    margin: 1% 0 1% 0;
}

#fourth-line {
    font-size: 2.5em;
    /* border: 1px solid white; */
    margin: 1% 0 1% 0;
}

#redirect-button {
    padding: 10px 20px 10px 20px;
    font-size: large;
    vertical-align: middle;
    background-color: #ffc20a;
    border-color: #ffc20a;
    color: #333649;
    cursor: pointer;
}

.timer {
    border: 1px solid black;
}

.pomodoro {
    /*border: 1px solid black;*/
    text-align: center;
}

.display {
    /*border: 1px solid black;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6rem;
    color: #805AD5;
}

#differentTimerButtons {
    display: flex;
    flex: 1;
    justify-content: center;
}

.timerButton {
    /*border:1px solid black;*/
    border-style: none;
    border-radius: 0.5em;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #805AD5;
    color: white;
    outline: none;
    border-color: #805AD5;
}

.timerControllers {
    /*border:1px solid black;*/
    display: flex;
    flex: 1;
    justify-content: center;
}

.timerController {
    /*border:1px solid black;*/
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-style: none;
    border-radius: 0.5em;
    background-color: #805AD5;
    color: white;
    outline: none;
    border-color: #805AD5;
}

#darker-background {
    display: none;
    flex: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    background-color: rgba(245, 245, 245);
    color: black;
    /* padding: 1em; */
}

.input {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    margin-top: 2em;
}

.time-input {
    border: 1px solid black;
    font-size: 1.5em;
    width: 5em;
}

.timer-set {
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
}

.close-modal {
    border: 1px solid black;
    /* padding-bottom: 1em; */
}

#close-button {
    float: right;
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
    padding-right: 0.25em;
}

#custom-timer-set {
    font-size: 1em;
    padding: 0.5em 2em 0.5em 2em;
    cursor: pointer;
}